:root {
    --mainText:#fff;
    --secondaryText: #eee;

    --mainColor: #152e28;
    --secondaryColor:#192734;

    --borderColor: #164D56;

    --themeDotsBorder: #fff ;

    --previewBg: rgba(25,39,52,0.8);
    --previewShadow: #111921;

    --btnColor: #669966;
}